@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



:root{
    --colorCeleste: #0093D6;
    --colorVerde: #97BE31;
    --colorAzul: #275B9E;
    --fontGral: 'Poppins', sans-serif;

}



body {  
    
    background-color: white; 

  }  




/*****Estilos de nav-celular*/

.nav-desktop{
    display:block;
  
}
.nav-celular{
    display: none;
}


.btn-oficina-virtual{
    background-color:var(--colorVerde) !important;
    border-radius: 30px !important;
   
}

.btn-oficina-virtual:hover{
    opacity: 0.3;
    
}

.btn-cerrar{

    justify-content: end;
}

.menu-celular{
    justify-content: center;
    text-align: center;
    gap: 5px;
  
  
}

.nav-link:hover{
    
    border-bottom: 3px solid var(--colorCeleste);

}


/*******Fin de estilos de nav-celular*****/


/******Estilos de nav desktop****/



.navbar-principal{
   
     border-radius: 40px;
     background-image: linear-gradient(to bottom ,  #CACFD2, #FFF);
 
}



.container-menu{
 
    gap: 15px;
    font-size: 16px;
}




/****Estilos de Header*****/
header{

    background-color: var(--colorCeleste);
    padding-bottom: 10px;


}
.principal{
background-image: url(../img/imagen_principal.png);
background-image: no-repeat;
background-image: fixed;
background-image: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
 background-size: cover;
 background-position: center;
 border-bottom-left-radius: 50em 1.9em;
 border-bottom-right-radius: 50em 1.9em;
 font-size: 70px;
 line-height: 4rem;
 font-family: var(--fontGral) 
}

.h6{

    font-size: 20px !important; 
}

.linea{
    border-radius: 40px;
    color: var(--colorVerde);
}

.imagen-robot-principal{
    position: relative;
    top: 45px;
} 
.imagen-robot-principal:hover{
    position: relative;
    top: 50px;
    cursor: pointer;
} 




/*Fin estilos Header*/



/*Estilos conexion-comunidad*/


.texto-conexion-comunidad{
    font-size: 80px;
    color: black;
    font-family: var(--fontGral);
}



/*Fin estilos conexion-comunidad*/



/*Estilo Nuestros Planes*/






.titulo-principal-planes{
    font-size: 80px;
    color: var(--colorCeleste);
    font-family:var(--fontGral)!important; 
    display: flex;
    justify-content: end;
}


.titulo-principal-planes strong{
    color: black;
}
.titulo-planes-solo{
    font-size: 60px;
    color: var(--colorCeleste);
    font-family:var(--fontGral)!important; 
    padding: 20px;
    display: none;

}


.titulo-planes-solo strong{
    color: black;
}

.robot-planes{
    width: 350px;
    height: auto;
    position: relative;
    top: 120px;
    right: 80px;
 

}

.robot-planes:hover{
   
  
    position: relative;
    top: 125px;
    cursor: pointer;
 

}

.planes{
  
        background-image: url(../img/fondo_planes.png);
        background-image: no-repeat;
        background-image: fixed;
        background-image: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
         background-size: cover;
         background-position: center;
         border-bottom-left-radius: 50em 1.9em;
         border-bottom-right-radius: 50em 1.9em;
         border-top-left-radius: 50em 1.9em;
         border-top-right-radius: 50em 1.9em;
        
         
}
.fibra-plan{
        
    border:white solid;
    border-top-left-radius: 8em 8em;
    border-bottom-left-radius: 8em 8em;
    border-top-right-radius: 1em ;
    border-bottom-right-radius: 1em ;
    height: 100%;
    width: auto;
    background-color: hsla(0,100%,100%,0.7);
    font-family: var(--fontGral);
  
     
}
.plan-inalambrico{
  
    border:white solid;
    border-top-left-radius: 8em 8em;
    border-bottom-left-radius: 8em 8em;
    border-top-right-radius: 1em ;
    border-bottom-right-radius: 1em ;
    height: 100%;
    width: 100%;
    background-color: hsla(0,100%,100%,0.7);
    font-family: 'Poppins', sans-serif;
   
  
     
}
.plan-mes{
    
    
    border:white solid;
    border-top-left-radius: 8em 8em;
    border-bottom-left-radius: 8em 8em;
    border-top-right-radius: 8em 8em ;
    border-bottom-right-radius: 8em 8em ;
    background-color: hsla(0,100%,100%,0.7);
    
    

}

.precio-plan{
    font-size:40px;
    
}
.precio-plan-inalambrico{
    font-size: 30px;
    font-weight: bold;
}
.precio-plan-mes{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;

  
}


.titulo-planes{
    color: white;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    
}





.boton-legales, .boton-cargo {
   
    
    cursor: pointer;
    color: black;
    font-size: 15px;
    text-decoration: none; 
  
}

.boton-legales-inalambrico, .boton-cargo-inalambrico {
   
    
    cursor: pointer;
    color: black;
    font-size: 13px;
    text-decoration: none; 
  
}

u:hover{
    text-decoration: underline;
}



.boton-contratar{
   
    background-color: black;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    padding-top:3px ;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
   
}
.boton-contratar:hover{
    color: black;
    background-color: white;

}

.robot-planes-abajo{
    position: relative;
    top:90px;
 
}

.robot-planes-abajo:hover{
    position: relative;
    top:80px;
    cursor: pointer;
}


/*Fin Estilos Nuestros Planes*/





/*Estilos de modales*/

.modal_container{
   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin:0 ;
    pointer-events: none;
    box-sizing: border-box;
    position: fixed;
    opacity: 0;
    background-color: rgba(0,0,0,0.3);
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    font-family: 'Poppins', sans-serif;
    
  
}

.modal_container.show{
    pointer-events: auto;
    opacity: 1;
    z-index: 2;

}
.modal-js{
    background-color: #fff;
    padding: 30px 50px;
    width: 900px;
    max-width: 100%;
    border-radius: 22px;
    z-index:1;
    overflow: auto;
        
     
}



.cerrar{
    color: #0093D6;
    cursor: pointer;
    
}
.texto-negro{
    color: black;
    font-family: 'Poppins', sans-serif; 
    
}

.modal-detalle-contratar{
    background-color: #0093D6;
    color: white;
    border-radius: 22px;

    
}

.modal-js hr{
    background-color: var(--colorCeleste);
    border: none;
    height: 2px;

}

.alineacion-modal{
    display: flex;
    justify-content: start;
}


/*Fin estilos de modales */



/*******Seccion contactos*******/

.iconos-redes-sociales a{
   margin: 5px;
}
.iconos-redes-sociales a:hover {
  opacity: 0.2;
}
.vias-de-contacto h6{
    font-size: 60px !important;
    font-family: 'Poppins', sans-serif !important;
}



/*Seccion Formulario Contacto*/

#container-form {
    display: flex;
    justify-content: center;
    
}

.acerca-alert-invalid{
    font-size: 14px;
}


.form-control.no-validate:valid {
    border-color: var(--bs-gray-400);
    background-image: url('');
}

.form-control.no-validate:valid:focus {
    border-color: var(--colorAzul);
}




.form-control{
border-radius: 22px !important;
background-color: white !important;
}

.button-formulario{
background-color: var(--colorAzul) !important;
border-radius: 22px !important;
color: white !important;
}
.button-formulario:hover {
    background-color: var(--colorCeleste) !important;

}

.btn-contratar-asesor{
    background-color: var(--colorVerde)!important;
    border-radius: 22px !important;
    color: #fff !important;
}

.btn-contratar-asesor:hover{
    background-color: var(--colorCeleste)!important;
    border-radius: 22px !important;
    color: #fff !important;
}

.formulario-contactos h4{
    color: var(--colorCeleste) !important;
}




/*Fin seccion Formulario Contacto*/



/*****SECCION FORMULARIO DE CONTACTO***/



/***********************************/



/******Fin seccion contactos*******/


/*Estilos seccion velocidad-cobertura-informacion*/

.velocidad-cobertura-informacion{
    margin-top: 150px;
    background-color: var(--colorAzul);
    border-top-left-radius: 50em 1.3em;
    border-top-right-radius: 50em 1.3em ;
     

}
.boton-cobertura-velocidad{
    position: relative;
    bottom: 120px;

  }


.boton-cobertura-velocidad:hover{
   opacity: 0.8;
   cursor: pointer;
 
 
}



/*Fin estilos de cobertura*/


/*Estilos cobertura*/
.informacion{
    background-color: var(--colorAzul);
    font-family: 'Poppins', sans-serif;
    color: white;

}

.informacion li{
    color: var(--colorCeleste);
    font-size: 15px;
}
.informacion  a{
    color: white !important;
    cursor: pointer;
    text-decoration: none;
}

.informacion a:hover{
    opacity: 0.7;
}
.informacion p{
    font-size: 20px;
}
/*Fin estilos de cobertura*/



/*Estilos de Footer*/


footer{
    background-color: var(--colorAzul);
    
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-size: 14px;
}


.logos-footer{
    cursor: pointer;
    gap: 2px;
    
}

.logos-footer a:hover{
    opacity: 0.7;
}
/***Fin estilos de Footer****/

/* Botón Subir */
.toTop {
    border: none;
    display: flex;
    cursor: pointer;
    transition: opacity 0.5s, transform 0.3s;
    /* posición */
    position: fixed; right: 1rem; bottom: 1rem; z-index: 0;
  }
  .toTop:not(.is-visible) {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-2rem);
  }
  .toTop svg {
    stroke-width: 3px;
    stroke: currentColor;
    fill: none;
    width: 24px;
  }
  /* Personalizar */
  .toTop {
    background-color: var(--colorCeleste);

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 0.75rem;
    color: #fff;
  }
  

/*************BOTON WHATSAPP*****************/
a{
    text-decoration: none;
  }
  #whatsapp {
      position: fixed;
      bottom: 15px;
      left:15px;
      
  }
  svg {
      width: 80px;
      display: inline-block;
      vertical-align: middle;
      filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
      
  }
  circle {
    fill: #25d366;
  }
  path {
      fill:  #fff;
  }

  #whatsapp a {padding: 20px 0px;}


  #whatsapp:hover a::before {opacity: 1;}


  /************FIN BOTON WHATSAPP*********************/










/*****************Responsive Menu*********************/

@media screen and (max-width: 576px) {


    /*Visualizacion de Menu*/
    .nav-desktop{
        display:none;
    }
    .nav-celular{
        display: block;
    }
    /*********************/


    /**********Principal**********/
    .principal{
        padding: 50px;
      
    }

    .imagen-robot-principal{
        position: relative;
        top:10px;
    } 

    .imagen-robot-principal:hover{
        position: relative;
        top: 15px;
        cursor: pointer;
    } 

       

    .imagen-robot-principal{
        position: relative;
        top: 10px;
    } 
    .imagen-robot-principal:hover{
        position: relative;
        top: 20px;
        cursor: pointer;
    } 


    /*Sección conexion-comunidad*/

    .texto-conexion-comunidad{
        font-size: 30px;
        
    }
   /**************************/
    
    
    /******Seccion Planes*****/
   
    .modal-js{
        background-color: #fff;
        padding: 30px 50px;
        width: 500px;
        height: 600px;
        max-width: 90%;
        border-radius: 22px;
        z-index:1;
        overflow: auto;
        
    }


    .img-plan-inalambrico{
        width: 130px;
    }


    .robot-planes-abajo{
        width: 300px;
        position: relative;
        top:10px;
    }
  
    .robot-planes-abajo:hover{
        position: relative;
        top:20px;
        cursor: pointer;
    }

    
   .robot-planes{
    display: none;
           
    }

    /***************************/



    .formulario-contactos{
        padding-top: 50px;
    }


    .titulo-principal-planes{
      display: none;
    }
    
  
    
    
    .robot-planes{
       display: none;
     
    
    }

    

    .titulo-planes-solo{
        font-size: 40px;
        padding-top: 30px;
        display: block;
    }

    .imagen-boton-cobertura-velocidad{
      padding: 30px;
      }
    
 
}




@media screen and (min-width: 577px) and (max-width: 992px) {



/*Visualizacion de menu*/
.nav-desktop{
    display:none;
  
}

.nav-celular{
    display: block;
}

.container-menu{
    gap: 5px;
    font-size: 14px;
}



/*********************/


/*****Seccion Principal******/


    .principal{
        padding: 50px;
      
    }
/*****************************/

  
    .texto-conexion-comunidad{
        font-size: 35px;
        
    }
   
   
/****Sección Planes****/ 
  

    .modal-js{
        background-color: #fff;
        padding: 30px 50px;
        width: 500px;
        height: 600px;
        max-width: 90%;
        border-radius: 22px;
        z-index:1;
        overflow: auto;
        
    }

  
 /**********************/ 

 .titulo-principal-planes{
    display: none;
  }
  
.robot-planes{
    display: none;
 

}

.titulo-planes-solo{
    font-size: 50px;
    padding-top: 30px;
    display: block;
  
}


.robot-planes-abajo{
    width: 300px;
    position: relative;
    top:10px;
    right: 40px;
}

.robot-planes-abajo:hover{
    position: relative;
    top:20px;
    cursor: pointer;
}

.boton-cobertura-velocidad{
    position: relative;
    bottom: 80px;
     

  }
  .imagen-boton-cobertura-velocidad{
    width: 100%;
  }




  }




@media screen and (min-width: 992px) and (max-width: 1199px) {



/*Visualizacion de menu correspondiente*/
.nav-desktop{
    display:block;
 
}
.nav-celular{
    display: none;
}

.container-menu{
 
    gap: 10px;
    font-size: 14px;
}

.container-menu{
    gap: 5px;
    font-size: 14px;
}

.logo-oficina{
    width:70px;
    height: auto;
}

.titulo-principal-planes{
    font-size: 40px;
   
}



.robot-planes{
    width: 250px;
    height: auto;
    position: relative;
    top: 60px;
    right: 40px;
 

}

.robot-planes:hover{
   
  
    position: relative;
    top: 70px;
    cursor: pointer;
 

}


/*********************/

/****Conexión Comunidad****/


.texto-conexion-comunidad{
    font-size: 60px ;
}



/*Secciones Planes*/

    .img-plan-inalambrico{
        width: 90px;
        
    }
    .boton-contratar{
        font-size: 14px;
    }



   

    .titulo-principal-planes{
        font-size: 60px;
        display: flex;
        justify-content: center;
    }
       

    /*********************/    
    .modal-js{
        background-color: #fff;
        padding: 30px 50px;
        width: 500px;
        height: 600px;
        max-width: 90%;
        border-radius: 22px;
        z-index:10;
        overflow: auto;
    
}

.boton-cobertura-velocidad{
    position: relative;
    bottom: 80px;
  

  }


  


    
 
     
    
    }
    

   
    
   
    


@media screen and (min-width: 1200px) and (max-width:2500) {

/*Visualizacion de menu correspondiente*/
.nav-desktop{
    display:block;
  
}
.nav-celular{
    display: none;
}


/*********************/


/**Planes**/


   
   } 

  
 
  
  
 


    
















